* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  margin: 1rem;
  font-size: 1.5rem;
}
.who {
  width: 40%;
}

.who p {
  margin-top: 0.5rem;
}
body {
  background-color: azure;
}
.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 5rem;
}
.container img {
  border: 1px solid rgb(204, 204, 204);
  width: 95%;
  margin-right: 1rem;
  margin-bottom: 1rem;
  transition: 1s;
  box-shadow: 0.3rem 0.3rem 0.3rem 0.3rem rgb(179, 179, 179);

  border-radius: 0.5rem;
}
.photo {
  display: flex;
}
.middle {
  display: flex;
  position: relative;
  top: 5rem;
}
.middle + p {
  position: relative;
  top: 5rem;
}
.container > div {
  width: 30%;
  padding: 2rem;
}
#role {
  text-transform: uppercase;
  writing-mode: vertical-lr;
  font-size: 0.6rem;
  font-weight: 600;
}
.container img:hover {
  transform: scale(105%);
}
@media screen and (max-width: 968px) {
  header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container > div {
    width: 48%;
  }

  .who {
    margin: 2rem;
    width: 80%;
  }
  body {
    font-size: 0.5rem;
  }
  .middle {
    position: static;
  }
  .right {
    position: relative;
    top: 5rem;
  }
  .right + p {
    position: relative;
    top: 5rem;
  }
  .middle + p {
    position: static;
  }
}
@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  .container > div {
    width: 90%;
  }
  .middle,
  .right {
    position: static;
  }
}
